<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% if title %}
    <title>{{ title }} - SecNote</title>
    {% else %}
    <title>Welcome to SecNote</title>
    {% endif %}
</head>
<body>

<div class = "d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
<h5 class="my-0 mr-md-auto font-weight-normal" href ="/index">Secnote</h5>
    <nav class="my-2 my-md-0 mr-md-3">
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">-->
        {% if session['username']==FALSE %}
        <a class="p-2 text-dark" href="/index">Home <span class="sr-only">(current)</span></a>
        <a class="p-2 text-dark" href="/login">Login<span class="sr-only">(current)</span></a>
        <a class="p-2 text-dark" href="/register">Sign Up<span class="sr-only">(current)</span></a>
        {% elif session['username'] %}
        <a class="p-2 text-dark" href="/index">Home <span class="sr-only">(current)</span></a>
        <a class="p-2 text-dark" href="/My_notes">My notes<span class="sr-only">(current)</span></a>
        <a class="p-2 text-dark" href="/Find_notes">Search<span class="sr-only">(current)</span></a>
        <a class="p-2 text-dark" href="/create">Create note<span class="sr-only">(current)</span></a>

        <a class="p-2 text-dark" href="#">Welcome back {{ session['username'] }}<span class="sr-only">(current)</span></a>
        {% endif %}
</nav>
       <a class="nav-item active my-2 my-lg-0">
        <a class="nav-link" href="/logout">Logout<span class="sr-only">(current)</span></a>
      </a>
</div>


{% block content %}{% endblock %}
</body>
</html>